!!!
%html
  %head
    %title MNMLNws
    <link rel="stylesheet" href="/css/mnmlnws.css" type="text/css" media="screen" />
  %body
    %ol#nav
      - (@feeds).each do |feed|
        %li
          %a{:href => '/' + feed[:slug], :class => (@feedName == feed[:slug]) ? 'on' : ''}= feed[:title]

    %ol#items
      - (@items).each do |item|
        %li
          %h2
            %a{:href => item.link}= item.title
          %p= item.description
    %p#about
      A <a href="http://sneeu.com/">sneeu.com</a> experiment with <a href="http://www.ruby-lang.org">Ruby</a>, <a href="http://www.sinatrarb.com/">Sinatra</a>, <a href="http://haml-lang.com/">HAML</a>, and <a href="http://heroku.com/">Heroku</a>.
